<p>Dokumentacija</p>>
<main>
    <div>
        <ul>
            <li><img src="../../assets/moja_slika-min.jpg" alt="Moja slika" width="150" height="150"></li>
            <li>Andrej Antonić</li>
            <li>aantonic20@student.foi.hr</li>
            <li><img src="../../assets/RWA2022aantonic20.png" alt="Slika ERA modela" width="500" height="400" id="ERA_slika"></li>
        </ul>
        <h3>REST servis</h3>
        <table>
            <tr>
                <th> </th>
                <th>Get</th>
                <th>Post</th>
                <th>Put</th>
                <th>Delete</th>
            </tr>
            <tr>
                <td>api/korisnici</td>
                <td>Napravljeno</td>
                <td>Napravljeno</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>api/korisnici/{{ '{' }}korime{{ '}' }}</td>
                <td>Napravljeno</td>
                <td>Napravljeno</td>
                <td>Napravljeno</td>
                <td></td>
            </tr>
            <tr>
                <td>api/korisnici/{{ '{' }}korime{{ '}' }}/aktivacija</td>
                <td></td>
                <td>Napravljeno</td>
                <td>Napravljeno</td>
                <td></td>
            </tr>
            <tr>
                <td>api/korisnici/{{ '{' }}korime{{ '}' }}/prijava</td>
                <td></td>
                <td>Napravljeno</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>api/filmovi/?stranica=broj&brojFilmova=broj[&datum=datum][&zanr=idZanr][&naziv=dioNazivFilma][&sortiraj=[d | z | n]]</td>
                <td>Napravljeno</td>
                <td>Napravljeno</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>api/filmovi/{{ '{' }}id{{ '}' }}</td>
                <td>Napravljeno</td>
                <td>Napravljeno</td>
                <td>Napravljeno</td>
                <td>Napravljeno</td>
            </tr>
            <tr>
                <td>api/zanr</td>
                <td>Napravljeno</td>
                <td>Napravljeno</td>
                <td></td>
                <td>Napravljeno</td>
            </tr>
            <tr>
                <td>api/zanr/{{ '{' }}id{{ '}' }}</td>
                <td>Napravljeno</td>
                <td>Napravljeno</td>
                <td>Napravljeno</td>
                <td>Napravljeno</td>
            </tr>
            <tr>
                <td>api/tmdb/zanr</td>
                <td>Napravljeno</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>api/tmdb/filmovi?kljucaRijec=rijec1[,rijec2]&stranica=broj</td>
                <td>Nije napravljeno</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <h3>APP</h3>
        <table>
            <tr>
                <th>Uloga</th>
                <th>Stranica/e</th>
                <th>Opis</th>
            </tr>
            <tr>
                <td>Gost</td>
                <td>Početna</td>
                <td>Napravljeno</td>
            </tr>
            <tr>
                <td>Gost</td>
                <td>Dokumentacija</td>
                <td>Napravljeno</td>
            </tr>
            <tr>
                <td>Gost</td>
                <td>Registracija, Prijava, Odjava</td>
                <td>Napravljeno</td>
            </tr>
            <tr>
                <td>Korisnik</td>
                <td>Profil</td>
                <td>Napravljeno</td>
            </tr>
            <tr>
                <td>Korisnik</td>
                <td>Filmovi pregled</td>
                <td>Napravljeno</td>
            </tr>
            <tr>
                <td>Korisnik</td>
                <td>Film</td>
                <td>Prikazuje sve podatke o filmu osim postera i poveznice na galeriju slika za taj film</td>
            </tr>
            <tr>
                <td>Korisnik</td>
                <td>Film pretraživanje</td>
                <td>Nije napravljeno</td>
            </tr>
            <tr>
                <td>Korisnik</td>
                <td>Galerija slika</td>
                <td>Nije napravljeno</td>
            </tr>
            <tr>
                <td>Korisnik</td>
                <td>Slika</td>
                <td>Nije napravljeno</td>
            </tr>
            <tr>
                <td>Admin</td>
                <td>Filmovi prijedlozi</td>
                <td>Nije napravljeno</td>
            </tr>
            <tr>
                <td>Admin</td>
                <td>Žanrovi</td>
                <td>Napravljeno</td>
            </tr>
            <tr>
                <td>Admin</td>
                <td>Filmovi ažuriranje</td>
                <td>Napravljeno</td>
            </tr>
            <tr>
                <td>Admin</td>
                <td>Korisnici</td>
                <td>Napravljeno</td>
            </tr>
            <tr>
                <td>Admin</td>
                <td>Konfiguracija</td>
                <td>Nije napravljeno</td>
            </tr>
        </table>
        <h3>Zadaća 2</h3>
        <table>
            <tr>
                <th>Zadatak</th>
                <th>Napravljeno</th>
                <th>Opis</th>
            </tr>
            <tr>
                <td>1.</td>
                <td>Napravljeno</td>
                <td>Kreirana tablica u kojoj pišu resursi iz prvog dijela koji su napravljeno</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Napravljeno</td>
                <td>Kreirana tablica u kojoj pišu pogledi iz drugog djela koji su implementirani</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Napravljeno</td>
                <td>Kreirana tablica po koracima u kojoj po koracima pišu elementi 2. zadaće koji su napravljeni</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Nije napravljeno</td>
                <td>Nije obavezno</td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Napravljeno</td>
                <td>Za REST servis i APP složen pasckage.json kako bi se mogle pokretati sa npm start, definirana je NODE_PATH putanja do globalnih modula</td>
            </tr>
            <tr>
                <td>6.</td>
                <td>Napravljeno</td>
                <td>Obrisani TMDB ključevi iz konfiguracijske datoteke</td>
            </tr>
            <tr>
                <td>7.</td>
                <td>Napravljeno</td>
                <td>Prebačeno da se koristi lokalna SQLite baza podataka i da se port čita iz konfiguracijske datoteke pod nazivom rest.port</td>
            </tr>
            <tr>
                <td>8.</td>
                <td>Nije napravljeno</td>
                <td>Nije obavezno</td>
            </tr>
            <tr>
                <td>9.</td>
                <td>Nije napravljeno</td>
                <td>Kreirana logika da REST prima i provjerava username i password no nije implementirano</td>
            </tr>
            <tr>
                <td>10.</td>
                <td>Nije napravljeno</td>
                <td>Dodatno</td>
            </tr>
            <tr>
                <td>11.</td>
                <td>Napravljeno</td>
                <td>Klijentski dio Web Aplikacije je prebacen u angular sa TS-om</td>
            </tr>
            <tr>
                <td>12.</td>
                <td>Napravljeno</td>
                <td>Informacija o portovima koje koristiAngular aplikacija se čitaju iz environment datoteke</td>
            </tr>
            <tr>
                <td>13.</td>
                <td>Napravljeno</td>
                <td>Dizajn je prebacen korištenjem Sass preprocesora u Sass sintaksi</td>
            </tr>
            <tr>
                <td>14.</td>
                <td>Napravljeno</td>
                <td>Dodan reCaptcha v3 provjera na obrazce za prijavu, registraciju i odjavu. Ukoliko je provjera uspješna u konzoli se ispiše token</td>
            </tr>
            <tr>
                <td>15.</td>
                <td>Djelomično napravljeno</td>
                <td>Angular aplikaciju je potrebno pokrenuti sa ng serve (Varijanta za manje bodova)</td>
            </tr>
            <tr>
                <td>16.</td>
                <td>Napravljeno</td>
                <td>Dokumentacija je ugrađena u samu angular aplikaciju.</td>
            </tr>
            <tr>
                <td>17.</td>
                <td>Djelomično napravljeno</td>
                <td>Autentifikacija korisnika se pruža preko APP</td>
            </tr>
            <tr>
                <td>18.</td>
                <td>Napravljeno</td>
                <td>app.port se čita iz konfiguracijske datoteke</td>
            </tr>
            <tr>
                <td>19.</td>
                <td>Napravljeno</td>
                <td>Iznačeni TOTP i aktivacija mailom kod prijave, postoje administratore i običan korisnik bez TOTP</td>
            </tr>
            <tr>
                <td>20.</td>
                <td>Djelomično napravljeno</td>
                <td>Aplikacija komunicira sa REST servisom i APP no ne šalje JWT. (Varijanta za manje bodova)</td>
            </tr>
            <tr>
                <td>21.</td>
                <td>Nije napravljeno</td>
                <td>Dodatno</td>
            </tr>
        </table>
    </div>
</main>