.grid-container
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 20px

.grid-child-lista
    text-align: center
    border-style: solid
    border-radius: 25px
    background-color: #D9D9D9

.grid-child-update
    text-align: center
    border-style: solid
    border-radius: 25px
    background-color: #D9D9D9

ul#lista
    display: inline-block
    text-align: left

ul#azuriranje
    display: inline-block
    text-align: left

.item1
    grid-area: jedan

.item2
    grid-area: dva

.item3
    grid-area: tri

.item4
    grid-area: cetiri

.item5
    grid-area: pet

.item6
    grid-area: sest

.item7
    grid-area: sedam

.grid-proba
    display: grid
    grid-template-areas: 'jedan''dva''tri''cetiri''pet''sest''sedam'

button
    margin: 10px