<nav>
  <a routerLink="/pocetna" (click)="putanja='pocetna'">Početna&emsp;</a>
  <a routerLink="/dokumentacija" (click)="putanja='dokumentacija'">Dokumentacija&emsp;</a>
  <a routerLink="/prijava" (click)="putanja='prijava'">Prijava&emsp;</a>
  <a routerLink="/registracija" (click)="putanja='registracija'">Registracija&emsp;</a>
  <a routerLink="/profil" (click)="putanja='profil'">Profil&emsp;</a>
  <a routerLink="/pregled_filmova" (click)="putanja='pregled_filmova'">Pregled filmova&emsp;</a>
  <a routerLink="/film" (click)="putanja='film'">Film&emsp;</a>
  <a routerLink="/zanrovi" (click)="putanja='zanrovi'">Žanrovi&emsp;</a>
  <a routerLink="/azuriranje_filmova" (click)="putanja='azuriranje_filmova'">Ažuriranje filmova&emsp;</a>
  <a routerLink="/korisnici" (click)="putanja='korisnici'">Korisnici&emsp;</a>
  <a routerLink="/odjava" (click)="putanja='odjava'">Odjava </a>
</nav>
<main>
  <router-outlet></router-outlet>
</main>